<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>533089761772-v3emnt3eeisc29ca1r5ldqifsgj78snd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.533089761772-v3emnt3eeisc29ca1r5ldqifsgj78snd</string>
	<key>API_KEY</key>
	<string>AIzaSyCvWiS_Z9DOrTqxneE1GyGnNb8GtrWYu9I</string>
	<key>GCM_SENDER_ID</key>
	<string>533089761772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramFultter</string>
	<key>PROJECT_ID</key>
	<string>instagram-tut-30659</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-tut-30659.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533089761772:ios:60c16223dcb1f4c3a268c9</string>
</dict>
</plist>